html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  min-width: 100vw;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background: #f6f9fb;
  color: #202325;
}

main {
  min-height: calc(100vh - 13.6rem);
}

button,
textarea,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
}

h1,
h2 {
  color: #094067;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  border-bottom: 1px solid #094067;
}

header.header {
  height: 7.2rem;
  background-color: var(--background-color--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--m-size);
  box-shadow: 0 1px 3px rgba(29, 29, 37, 0.12), 0 1px 2px rgba(29, 29, 37, 0.24);
}
header.header ul {
  display: flex;
}
header.header li {
  list-style: none;
  margin-left: var(--m-size);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-weight: 700;
}
header.header li a {
  color: var(--text-color);
  text-decoration: none;
}
header.header svg {
  fill: #094067;
}

.header__logo h1 {
  margin: 0 0 0 var(--s-size);
  font-weight: 500;
}
.header__logo a {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  line-height: 3.2rem;
}

.header__nav-item {
  opacity: 0.74;
}
.header__nav-item:hover {
  opacity: 1;
}

